.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.title {
  font-size: 20px;
  font-weight: bold;
  color: #5F5E61;
}
.filter {
	display: flex;
	align-items: center;
	gap: 30px;
	margin-bottom: 30px;
}
.filter_name {
	font-size: 13px;
	color: #5F5E61;
	line-height: 19.5px;
	font-weight: 600;
}
.filter_main {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.filter_main span {
	color: #5A6169;
	font-size: 13px;
	font-weight: 400;
}
.filter_select {
	width: 300px;
}
.btn_delete, .btn_edit {
	border: none;
	background: none;
	cursor: pointer;
	font-size: 25px;
}
.group_btn {
	display: flex;
	gap: 10px;
	justify-content: flex-end;
}